<div class="container">
    
<form  *ngIf="productformGroup" [formGroup]="productformGroup">
    {{productformGroup.value|json}}
<div class="form-group">
<label>Name:</label>
<input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':submitted && productformGroup.controls.name.errors}">
<div *ngIf="submitted && productformGroup.controls.name.errors" class="invalid-feedback">

    <div *ngIf="productformGroup.controls.name.errors.required">name is required</div>
</div>
</div>

<div class="form-group">
    <label>Price:</label>
    <input type="text" class="form-control" formControlName="price" required>
    </div>
    
    <div class="form-group">
        <label>Quantity:</label>
        <input type="text" class="form-control" formControlName="quantity">
        </div>
        <div class="form-group">
            <label>selected:</label>
            <input type="checkbox"  formControlName="selected" class="form-check">
            </div>

            <div class="form-group">
                <label>Available:</label>
                <input type="checkbox" formControlName="available" class="form-check">
                </div>
                <button (click)="OnSaveProduct()">Save</button>
</form>


</div>
