<tr *ngIf="prod">
   
    <td>{{prod.id}}</td>
    <td>{{prod.name}}</td>
    <td>{{prod.price}}</td>
    <td>{{prod.quantity}}</td>
    <td>{{prod.selected}}</td>
    <td><span [ngClass]="prod.available?'fa fa-check text-success':'fa fa-check text-echec'"></span></td>
   <td><button (click)="onSelect(prod)" [ngClass]="prod.selected?'btn-success':'btn-danger'" class="btn btn-sm btn-success">

<span *ngIf="prod.selected">unselected</span>
<span *ngIf="!prod.selected">selected</span>
   </button></td>
   <td><button (click)="onDelete(prod)">
<span class="fa fa-trash-o"></span>
           </button></td>
           <td><button (click)="onEdit(prod)">
            <span class="fa fa-edit"></span>
                           </button></td>
</tr>
