<div class="container">
    <! ––  result est de type AppDataState(dataState,data,errorMessage) pocéde 3 valuer table de produit ou bien pas encours de reponse ou bien error-->
<ng-container *ngIf="(productsinput$ | async) as result" [ngSwitch]="result.dataState">
<ng-container *ngSwitchCase="DataStateEnum.LOADING">
    Looding...
</ng-container>

<ng-container *ngSwitchCase="DataStateEnum.LOADED">
    <table class="table">
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Selected</th>
    <th>Available</th>
    </tr>
    <app-products-item [prod]="p" *ngFor="let p of result.data" style="display: contents;"></app-products-item>
    
    
    </table>
</ng-container>
<ng-container *ngSwitchCase="DataStateEnum.ERROR">
    <div class="alert-danger">
        {{result.errorMessage}}
    </div>
</ng-container>


</ng-container>


</div>

