<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar navbar-nav">
    <li><button class="btn btn-outline-info ml-2 btn-sm"  (click)="onGetAllproducts()">All</button>
    </li>
    
    <li><button class="btn btn-outline-info ml-2  btn-sm" (click)="onGetSelectedproducts()">Selected</button>
    
    </li>
    
    <li><button class="btn btn-outline-info ml-2 btn-sm" (click)="onGetAvailableproducts()">Available</button>
    
    </li>
    <li><button class="btn btn-outline-info ml-2 btn-sm" (click)="onNewproducts()">New</button>
    
    </li>
    
    </ul>
    <ul class="navbar navbar-nav ml-auto">
    <li>
        <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
         
    
    <input ngModel name="keyword" type="text" m><button  class="btn btn-sm btn-outline-info" >
        <span class="fa fa-search"></span>
    </button>
    
        
        </form>
    </li>
    
    
    </ul>
    
    </nav>